<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hmi.smartphotosharing"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="8"
              android:targetSdkVersion="13" /> 
    
	<uses-feature android:name="android.hardware.camera" />
	
	<uses-permission android:name="android.permission.CAMERA" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	
	<!-- App receives GCM messages. -->
	<uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
	<!-- GCM requires a Google account. -->
	<uses-permission android:name="android.permission.GET_ACCOUNTS" />
	<!-- Keeps the processor from sleeping when a message is received. -->
	<uses-permission android:name="android.permission.WAKE_LOCK" />
	
	<!--  Google Cloud Messaging -->
	<permission android:name="com.hmi.smartphotosharing.permission.C2D_MESSAGE" android:protectionLevel="signature" />
	<uses-permission android:name="com.hmi.smartphotosharing.permission.C2D_MESSAGE" /> 

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.NoTitleBar">
        
		<uses-library android:name="com.google.android.maps"/>
        
        <activity android:name="com.hmi.smartphotosharing.Login" 
            		android:label="@string/app_name"
            		android:configChanges="orientation|keyboardHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:label="Smart Photo Sharing" 
            android:name=".SharePhotoActivity" >
		    <intent-filter>
		        <action android:name="android.intent.action.SEND" />
		        <category android:name="android.intent.category.DEFAULT" />
		        <data android:mimeType="image/*" />
		    </intent-filter>
		</activity>
		
        <activity android:label="Groups" 
            android:name=".groups.GroupsActivity" />
        <activity android:label="Join Group" 
            android:name=".groups.GroupJoinActivity" />
        <activity android:label="Invite" 
            android:name=".groups.GroupInviteActivity" />
        <activity android:label="Camera" 
            android:name=".camera.CameraActivity" />
        <activity android:label="Create Group" 
            android:name=".groups.GroupCreateActivity" />
        <activity android:label="Group Details" 
            android:name=".groups.GroupDetailActivity" />
        <activity android:label="Photo Details" 
            android:name=".PhotoDetailActivity" />
        <activity android:label="Login" 
            android:name=".SmartPhotoSharing" />
		
		<activity android:label="SettingsActivity" android:name=".SettingsActivity">
             <intent-filter>
                <action android:name="android.intent.action.MANAGE_NETWORK_USAGE" />
                <category android:name="android.intent.category.DEFAULT" />
          </intent-filter>
        </activity>
        
		<!--  GCM -->
		<receiver 
		    android:name="com.google.android.gcm.GCMBroadcastReceiver" 
		    android:permission="com.google.android.c2dm.permission.SEND" >
		  <intent-filter>
		    <action android:name="com.google.android.c2dm.intent.RECEIVE" />
		    <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
		    <category android:name="com.hmi.smartphotosharing" />
		  </intent-filter>
		</receiver>
		
		<service 
		    android:name="com.hmi.smartphotosharing.GCMIntentService"
		    android:enabled="true" />
    </application>

</manifest>