<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hmi.smartphotosharing"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="8"
              android:targetSdkVersion="13" /> 
    
	<uses-feature android:name="android.hardware.camera" />
	<uses-feature android:glEsVersion="0x00020000" android:required="true"/>
	
	<uses-permission android:name="android.permission.CAMERA" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.VIBRATE" />
	<uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>
	
	
	<!-- App receives GCM messages. -->
	<uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
	<!-- GCM requires a Google account. -->
	<uses-permission android:name="android.permission.GET_ACCOUNTS" />
	<!-- Keeps the processor from sleeping when a message is received. -->
	<uses-permission android:name="android.permission.WAKE_LOCK" />
	
	<!--  Google Cloud Messaging -->
	<permission android:name="com.hmi.smartphotosharing.permission.C2D_MESSAGE" android:protectionLevel="signature" />
	<uses-permission android:name="com.hmi.smartphotosharing.permission.C2D_MESSAGE" /> 
	
	<!-- Google Maps  API-->
    <permission
      android:name="com.hmi.smartphotosharing.permission.MAPS_RECEIVE"
      android:protectionLevel="signature"/>
    <uses-permission android:name="com.hmi.smartphotosharing.permission.MAPS_RECEIVE"/>
    
    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Picalilly">
        
		<uses-library android:name="com.google.android.maps"/>
        <meta-data
		    android:name="com.google.android.maps.v2.API_KEY"
		    android:value="AIzaSyCYSVSVgtA8HR8MuPlGrZZaj5REvjwoVbE"/> <!-- DEBUG KEY -->
		
        <activity android:name="com.hmi.smartphotosharing.Login" 
            		android:label="@string/app_name"
            		android:configChanges="orientation|keyboardHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:label="@string/app_name"
            android:configChanges="orientation" 
            android:name=".SharePhotoActivity">
                <intent-filter>
			        <action android:name="android.intent.action.SEND"/>
			        <category android:name="android.intent.category.DEFAULT"/>
			        <data android:mimeType="image/jpeg"/>
			    </intent-filter>
        </activity>
		
        <activity android:label="Photo Details" 
            android:name=".SinglePhotoDetail" />		
        
        <activity android:label="Fullscreen Image" 
            android:name=".FullscreenImageActivity" />	
            
        <activity android:label="Map Activity" 
            android:name=".MapActivity" />	
            
        <activity android:label="Photo Details" 
            android:configChanges="orientation" 
            android:name=".PhotoDetailActivity" />
        
        <activity android:label="Profile" 
            android:name=".ProfileActivity" />
        <activity android:label="My Photos" 
            android:name=".MyPicturesActivity" />
        <activity android:label="Change Profile Picture" 
            android:configChanges="orientation" 
            android:name=".ChangePictureActivity" />
        	    
        <activity android:label="Groups" 
            android:name=".groups.GroupsActivity" />
        <activity android:label="Join Group" 
            android:name=".groups.GroupJoinActivity" />
        <activity android:label="Invite" 
            android:name=".groups.SelectSingleFriendActivity" />
        <activity android:label="Create Group" 
            android:name=".groups.GroupCreateActivity" />
        <activity android:label="Select Group" 
            android:name=".groups.SelectGroupActivity" />
        <activity android:label="Invite Friends" 
            android:name=".groups.SelectFriendsActivity" />
        <activity android:label="Select Location" 
            android:name=".groups.SelectLocationActivity" />
        <activity android:label="Group Details" 
            android:name=".groups.GroupDetailActivity" />
        <activity android:label="Location Details" 
            android:name=".groups.ShowLocationActivity" />
        <activity android:label="Manage Group" 
            android:name=".groups.GroupManageActivity" />
        <activity android:label="Change Group Picture" 
            android:configChanges="orientation" 
            android:name=".groups.ChangeGroupPictureActivity" />
        
        <activity android:label="Camera" 
            android:configChanges="orientation" 
            android:name=".camera.CameraActivity" />
        
        <activity android:label="Subscriptions" 
            android:name=".subscriptions.SubscriptionsActivity" />
        <activity android:label="Create Subscription" 
            android:name=".subscriptions.SubscriptionCreateActivity" />
        
		<activity 
		    android:label="Picalilly Settings" 
		    android:name=".SettingsActivity"
		    android:theme="@android:style/Theme.Light">
             <intent-filter>
                <action android:name="android.intent.action.MANAGE_NETWORK_USAGE" />
                <category android:name="android.intent.category.DEFAULT" />
          </intent-filter>
        </activity>
        
		<!--  GCM -->
		<receiver 
		    android:name="com.google.android.gcm.GCMBroadcastReceiver" 
		    android:permission="com.google.android.c2dm.permission.SEND" >
		  <intent-filter>
		    <action android:name="com.google.android.c2dm.intent.RECEIVE" />
		    <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
		    <category android:name="com.hmi.smartphotosharing" />
		  </intent-filter>
		</receiver>
		
		<service 
		    android:name=".GCMIntentService"
		    android:enabled="true" />
    </application>

</manifest>